<div class="alert alert-danger"><%=flashSuccess%></div>

<% if(passportFailure!=""){%>
    <div class="alert alert-danger"><%=passportFailure%></div>

<%}%>
<% if(passportSucces!=""){%>
    <div class="alert alert-danger"><%=passportSucces%></div>
<%}%>

<% if(passportSucces!=""){%>
    <div class="alert alert-danger"><%=passportSucces%></div>
<%}%>