<%if(flashSuccess!=("undefined" && "")){%>
    <div class="alert alert-danger"><%=flashSuccess%></div>
<%}%>
<%if(passportSuccess!=("undefined" && "")){%>
    <div class="alert alert-danger"><%=passportSuccess%></div>
<%}%>
<%if(flashLogout!=("undefined" && "")){%>
    <div class="alert alert-danger"><%=flashLogout%></div>
<%}%>